@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Black.ttf);
    src: url(../fonts/Montserrat-Italic.ttf);
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    src: url(/fonts/Montserrat-Bold.ttf);
    src: url(/fonts/Montserrat-Italic-VariableFont_wght.ttf);
    
    
  }